[submodule "seg_every_thing"]
	path = seg_every_thing
	url = git@github.com:mees/seg_every_thing.git
[submodule "mesh2cloud-ros"]
	path = mesh2cloud-ros
	url = https://github.com/mees/mesh2cloud-ros
[submodule "pickAndPlace-PR2"]
	path = pickAndPlace-PR2
	url = https://github.com/mees/pickAndPlace-PR2
